*pyc
*.blood_app/*
*.json
.vscode/*
*.sqlite3
/db.sqlite3

# all migration files except initial
*/migrations/*
!patient/migrations/0001_initial.py
patient/migrations/0001_initial.py
patient/static/patient/css/framework.css
patient/static/patient/css/framework.min.css
patient/static/patient/css/index.php
patient/static/patient/css/style.min.css
patient/static/patient/i/fa-angle-down-dark.png
patient/static/patient/i/fa-angle-down-white.png
patient/static/patient/i/favicon.png
patient/static/patient/i/map-pin-red.png
patient/static/patient/i/mobile_nav_3_foto.jpg
patient/static/patient/i/mobile_nav_3_foto@2x.jpg
patient/static/patient/i/slick-arrow-left-dark.svg
patient/static/patient/i/slick-arrow-left.svg
patient/static/patient/i/slick-arrow-right-dark.svg
patient/static/patient/i/slick-arrow-right.svg
patient/static/patient/js/index.php
patient/static/patient/js/jquery.maskedinput.min.js
patient/static/patient/js/script.js
patient/static/patient/scss/framework.scss
patient/static/patient/scss/index.php
patient/static/patient/scss/layout.scss
patient/static/patient/scss/variables.scss
db.sqlite3
out_to_read.txt
out.txt
document.pdf
.*.sqlite3
db.sqlite3
db.sqlite3
db.sqlite3
media/
