{% extends 'patient/base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock head %}
{% block content %}
<div class="patient_profile">
      <div class="story GB">
	  	<form method="POST">{% csrf_token %}
        <div class=" GB ">
          {% render_field form.name type="text" name="from_unit" placeholder="Alternate Label Name" required="required" class+="form__input" %}
		      <br> Select Label
          <input class="form__input" name="label" list="brow">
          <datalist id="brow">
            {% for i in form.label %} 
              <option>{{i}}</option>
            {% endfor %}
          </datalist>
          <br> Select Report
          {% render_field form.report type="text" name="multiplier" placeholder="multiplier" required="required" class+="form__input" %}

        </div>
		<div class="form__group u-margin-top-medium">
            <button class="btn btn--green">
              Save
            </button>
            <button class="btn btn--green" onclick="window.location.href='{% url 'patient-home' %}'">
              BACK
            </button>
        </div>
		</form>
      </div>
</div>
{% endblock %}
