{% extends 'patient/base2.html' %}
{% load static %}
{% load widget_tweaks %}




{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="patient_profile">
      <div class="story GB">
	  	<form method="POST">{% csrf_token %}
        <div class=" GB ">
          {% render_field form.name type="text" name="name" placeholder="Label Name" required="required" class+="form__input" %}
          <br>Select Category
          {% render_field form.category type="text" name="category" placeholder="Category" required="required" class+="form__input" %}


        </div>
		<div class="form__group u-margin-top-medium">
            <button class="btn btn--green">
              Save
            </button>
            <button class="btn btn--green" onclick="window.location.href='{% url 'patient-home' %}'">
              BACK
            </button>
        </div>
		</form>
      </div>
</div>
{% endblock %}
